{% extends "base.html" %}

{% block title %}
WordGame | Creating Lists
{% endblock %}

{% block css %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/wordgameweb/css/eng_words.css' %}">
{% endblock %}

{% block pageTitle %}
Choose the words to add to your list
{% endblock %}

{% block content %}
{% load static %}
<form method="POST">
{% csrf_token %}
	<div class="row">
		<div class="offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<h6 class="darkestGrey">Give your list a number and click 'DONE' when you are done selecting.</h6>
			<div class="whiteBgSection" >
				<!-- fetch 45 words max at a time -->
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<!-- words in batch 1 -->
							<ul class="list-group">
								{% for word in batch1 %}
								<li class="list-group-item"> 
								<div class="form-check form-check-inline">
									<label class="no_style_a"><input type="checkbox" class="form-check-input position-static" id="inlineCheckbox" value="{{ word.id }}" name="eng_words_checker">
									{{ word.eng_word }}</label>
									
								</div>
								</li>
								{% endfor %}
								
							</ul>
						</div>
				
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<!-- next 15 words -->
							<ul class="list-group">
								<!-- words in batch 2 -->
									{% for word in batch2 %}
									<li class="list-group-item"> 
									<div class="form-check form-check-inline">
									 	<label class="no_style_a"><input type="checkbox" class="form-check-input position-static" id="inlineCheckbox" value="{{ word.id }}" name="eng_words_checker">
										{{ word.eng_word }} </label>
										
									</div>
									</li>
									{% endfor %}
							</ul>
						</div>
			
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<!-- last 15 words -->
							<ul class="list-group">
								<!-- words in batch 3 -->
								{% for word in batch3 %}
								<li class="list-group-item"> 
								<div class="form-check form-check-inline">
										<label class="no_style_a"><input type="checkbox" class="form-check-input position-static" id="inlineCheckbox" value="{{ word.id }}" name="eng_words_checker">
									{{ word.eng_word }}</label>
									
								</div>
								</li>
								{% endfor %}
							</ul>
						</div>
		
					</div>
			
			</div>
		
		</div>
		

	</div>
	<div class="smallSpace"></div>
	<div class="row">
		<div class="offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<div class="row">
			{% for batch in batch_intervals  %}
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-1">
			<button type="submit" name="jumpListBtn" class=" jumpListBtn darkBlueGreyBg white" value="{{ batch }}">{{ batch }}</button>
			</div>
			{% empty %}
				
			{% endfor %}
			</div>
		</div>
	</div>

	
	<div class="smallSpace"></div>


	<div class="row">
		<div class="offset-1 col-xs-10 col-sm-3 col-md-3 col-lg-3">
			{% if prev_start != 0 %}
			<button type="submit" id="prevListBtn" name="prevListBtn" class="darkBlueGreyBg white" value="{{ prev_start }}">PREVIOUS</button>
			{% endif %}
		</div>
		<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
					<input type="text" placeholder="Enter list number e.g. 2" name="list_number_input" id="list_number_input">
					<button type="submit" id="doneListBtn" name="doneListBtn" class="greenBg white">DONE</button>
		</div>
		<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
				{% if next_start != 0 %}
					<button type="submit" id="nextListBtn" name="nextListBtn" class="darkBlueGreyBg white" value="{{ next_start }}">NEXT</button>
				{% endif %}
		</div>
	</div>
</form>
{% endblock %}