{% extends "base.html" %}

{% block title %}
WordGame | Teacher's Dashboard
{% endblock %}

{% block css %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/wordgameweb/css/home.css' %}">
{% endblock %}

{% block pageTitle %}
Welcome back. Your id is 11{{ request.user.id }}12
{% endblock %}

{% block content %}
{% load static %}
			<div class="row">
				<div class="offset-1 col-xs-11 col-sm-3 col-md-3 col-lg-3">
					<h6 class="darkBlueGrey">Create or delete your lists.</h6>
					<div class="whiteBgSection" >

						<!-- create list button -->
						<div class="smallSpace"></div>
						<a href='/create-list/' id="createListLinkBtn" >CREATE LIST</a>

						

						<!-- delete list form -->
						<div class="smallSpace"></div>
						<form method="POST">
							{% csrf_token %}
							<input type="text" name="list_no" placeholder="list number e.g. 2">
							<button type="submit" id="deleteListBtn" name="deleteListBtn" class="redBg white">DELETE</button>
						</form>
						<!-- todo display error messages on delete if any or success results
						<p id="deletingErrorMsgs" class="red" style="display:none;"></p> -->
					</div>
					
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="SignUpSection">
					<h6 class="darkBlueGrey">View or edit your lists</h6>
					<div class="whiteBgSection" >
						<ul class="list-group">

								{% for my_list_number in my_lists %}
								
								<li class="list-group-item"><a href="/edit-list/{{ my_list_number }}/" class="no_style_a">List {{ my_list_number }}</a></li>
							
								{% empty %}
						
								<li class="list-group-item"><span class="red">Your  have not created any list yet.</span></li>
							
								
								{% endfor %}
						<ul>
					</div>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="SignUpSection">
					<h6 class="darkBlueGrey">Your Students</h6>
					<div class="whiteBgSection" >
						<ul class="list-group">
							
						
						{% for student in my_students  %}
								
						<li class="list-group-item"><a href="#" class="no_style_a">{{ student.student_full_name }}</a></li>
					
						{% empty %}
						
						<li class="list-group-item"><span class="red">Your students have not signed up on wordgame android app yet.</span></li>
					
						
						{% endfor %}
						
						</ul>
					</div>
				   
					   
				  
					   
				</div>

			</div>

{% endblock %}