{% extends "base.html" %}

{% block title %}
WordGame | Editing List
{% endblock %}

{% block css %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/wordgameweb/css/eng_words.css' %}">
{% endblock %}

{% block pageTitle %}
List No. {{ list_number }} | Created On {{ list_created_on }}
{% endblock %}

{% block content %}
{% load static %}
<form method = "POST">
		{% csrf_token %}
	<div class="row">
		<div class="offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<h6 class="darkBlueGrey">You can select words to delete from the list.</h6>
			<div class="whiteBgSection" >
					<div class="row">
						{% for word in teachers_list %}
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<ul class="list-group">
								<li class="list-group-item"> 
								<div class="form-check form-check-inline">
									<label ><input type="checkbox" name = "word_checker" class="form-check-input position-static" id="inlineCheckbox" value = " {{ word.id }} ">
									<a href="/view-word/{{ word.words.id }}/{{ list_number }}/" class="no_style_a">{{ word.words.eng_word }}</a></label>
									
								</div>
								</li>
							</ul>
						</div>
						{% empty %}

						{% endfor %}
				
						
		
					</div>
			
			</div>
		
		</div>
		

	</div>
	<div class="smallSpace"></div>
	<div class="row">
	
		<div class="offset-2 col-xs-8 col-sm-8 offset-md-4 col-md-4 col-lg-4">
					<button type="submit" id="deleteWordsBtn" name="deleteWordsBtn" class="redBg white">DELETE MARKED WORDS</button>
		</div>
	
	</div>
</form>
{% endblock %}